# Provision datasources for local deploy. Grafana loads these on startup so the ZTCP Telemetry dashboard works.
apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    isDefault: false
    editable: false
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: http://loki:3100
    uid: loki
    isDefault: true
    editable: false
  - name: Tempo
    type: tempo
    access: proxy
    orgId: 1
    url: http://tempo:3200
    editable: false
